/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light
{
  --bg-color: #FFF1F7;
  --accent-color: #FF8DC8;
  --text-color: #353430;
  --heading-color: #FFC2E6;
  --cover-banner: url('../images/cover-image-light.png');
  --embellishment-display: none;
}

.page .theme_light .header__embellishment
{
  display: none;
}

@media (prefers-color-scheme: light)
{
  :root
  {
    --bg-color: #FFF1F7;
    --accent-color: #FF8DC8;
    --text-color: #353430;
    --heading-color: #FFC2E6;
    --cover-banner: url('../images/cover-image-light.png');
    --embellishment-display: none;
  }

  .header__embellishment
  {
    display: none;
  }


}
