/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page
{
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--cover-banner);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.heading
{
  font-size: var(--heading-font-size);
  color: var(--heading-color);
  text-align: start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.heading_shadow_small
{
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accent__background
{
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.subheading
{
  color: var(--accent-color);
  font-weight: 700;
}
