/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root
{
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --heading-color: #DB00FF;
  --cover-banner: url(`../images/cover-image-dark.png`);
}
